.header {
  padding: 0;
  background: #2C2A1D;
  font-family: 'Titillium Web', sans-serif;
  color: white;

  ::selection {
    background: #C53A39;
  }
}

.header .profile {
  background: #C53A39;

  ::selection {
    background: #2C2A1D;
  }
}

.profile {
  padding: 30px;
  text-align: center;

  .name {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 1.6rem;
    font-weight: 200;

    em {
      font-style: normal;
      font-weight: 900;
    }
  }
  .position {
    margin-bottom: 0.5em;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.6);
  }
  .quote {
    font-size: 0.9rem;
  }
}

.header {
  .profile-img {
    max-width: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
  }

  .Contacts {
    padding: 30px 10px 0;
  }

  .Contacts--item {
    $font-family: FontAwesome;
    $font-size: 1.3em;
    $padding-right: 5px;

    list-style: none;
    font-size: 14px;
    color: white;
    padding: 0;
    margin-top: 10px;

    &:last-child {
      margin-bottom: 15px;
    }
    .Contacts--item__home {
      &:before {
        content: "\f041";
        font-family: $font-family;
        font-size: $font-size;
        padding-right: $padding-right;
      }
    }
    .Contacts--item__phone:before {
      content: "\f095";
      font-family: $font-family;
      font-size: $font-size;
      padding-right: $padding-right;
    }
    .Contacts--item__email:before {
      content: "\f0e0";
      font-family: $font-family;
      font-size: $font-size;
      padding-right: $padding-right;
    }
    .Contacts--item__nationality {
      text-transform: capitalize;

      &:before {
        //content: "\f0ac";
        content: "\f2c2";
        font-family: $font-family;
        font-size: $font-size;
        padding-right: $padding-right;
      }
    }
    .Contacts--item__birth-date:before {
      content: "\f1fd";
      font-family: $font-family;
      font-size: $font-size;
      padding-right: $padding-right;
    }
    .Contacts--item__work-permit:before {
      content: "\f0b1";
      font-family: $font-family;
      font-size: $font-size;
      padding-right: $padding-right;
    }
    .Contacts--item__car-permit:before {
      content: "\f1b9";
      font-family: $font-family;
      font-size: $font-size;
      padding-right: $padding-right;
    }
  }

  .socials {
    margin: 0 auto;
    padding: 20px 20px 0px;
    text-align: center;

    .social {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: 5px;
      margin-right: 5px;
      line-height: 32px;
      border-radius: 50%;
      vertical-align: middle;
      font-family: FontAwesome;
      text-align: center;
      // background: white;

      &:before {
        font-size: 22px;
        color: white;
      }
      &.github:before {
        content: "\f09b";
      }
      &.gitlab:before {
        content: "\f296";
      }
      &.bitbucket:before {
        content: '\f171';
      }
      &.facebook:before {
        content: "\f09a";
      }
      &.twitter:before {
        content: "\f099";
      }
      &.linkedin:before {
        content: "\f0e1";
      }
      &.homepage:before {
        content: "\f015";
      }
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .sections {
    padding-top: 20px;
  }
}
